@charset "UTF-8";
@media only screen and (max-width: 600px) {

    /* Estilos para telas menores que 600px de largura */
    body {
        font-size: 10px;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }

    #interface {
        width: 90%;
        /* Ajusta a largura para 90% */
        margin: 20px auto;
        /* Centraliza o contêiner */
        overflow-y: scroll;
    }

    img {
        width: 90%;
    }

    iframe#info {
        width: 90%;
        height: 100%;
        padding: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

    /* Estilos para telas entre 601px e 768px de largura */
    body {
        font-size: 16px;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }

    #interface {
        width: 80%;
        /* Ajusta a largura para 80% */
        margin: 20px auto;
        overflow-y: scroll;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    img {
        width: 80%;
    }
}

@media only screen and (min-width: 769px) {

    /* Estilos para telas maiores que 769px de largura */
    body {
        font-size: 18px;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }

    #interface {
        width: 50%;
        /* Ajusta a largura para 50% */
        margin: 20px auto;
        /* Centraliza o contêiner */
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    img {
        width: auto;
    }
}

body {
    font-size: 14px;
    background: linear-gradient(50deg, #1202f3a6, #0277fdcc);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

h2 {
    font-weight: 550;
    text-align: center;
    color: #1202f3a6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 450;
}

#interface {
    width: 80%;
    height: fit-content;
    background-color: #fff;
    margin: 30px auto;
    box-shadow: 20px 30px 40px rgba(113, 122, 122, 0.486);
    border-radius: 55px;
    padding: 10px;
    overflow-y: scroll;
    overflow: hidden;
    padding: 10px;
}

#titulo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 25pt;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#subtitulo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: black;
    text-shadow: 1px 1px 2px rgba(18, 2, 243, 0.521);
}

/* Opções de navegação */
#nav_items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #1202f3a6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    padding: 10px;

}

/* Leitura */
#livros img {
    width: 100px;
}

#livros {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Jogos */
#jogos img {
    width: 100px;
}

#jogos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Apps */
#apps img {
    width: 100px;
}

#apps {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
    color: rgb(95, 158, 160);
}

/* Janela */
iframe#info {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 80%;
    border: none;
    overflow: hidden;
    overflow: auto;
    margin: 20px auto 0 auto;
}

iframe#info::-webkit-scrollbar {
    display: none;
}
